img {
    width: 150px;
    height: 200px;
}
button {
    height: fit-content;
}
.btns{
    justify-content: right;
}
.photo-alt {
    width: 150px;
    height: 200px;
    font-size: 2.5em;
    h3{
        text-align: center;
        vertical-align: middle;
    }
}