.center{
    justify-content: center;
}
.container {
    padding: 0
}
.row {
    margin-bottom: 1rem;
    width: 100%;
    
}
.left-part {
    padding: 0 3rem;
    width: 50%;
}
.right-part {
    display: flex;
    padding: 0 3rem;
    width: 50%;
    #content{
        height: 100%;
        flex-grow: 3;
        resize: none;
    }
}
button{
    margin: 0 0.5rem;
}
label{
    margin-right: 2rem;
    font-size: 1.1rem;
}
h2 {
    margin-left: 3rem;
}
.form-input {
    display: flex;
    align-items: flex-end;
    align-items: baseline;
    input {
        flex-grow: 3;
        height: 2rem;
        font-size: 1rem;
    }
}

.column{
    height: 100%;
}